openai
langchain
streamlit
python-dotenv
langchain-openai
langchain_community
langchain_core
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
wikipedia
arxiv
langchainhub
cassio
groq
langchain-groq
chromadb
beautifulsoup4
langchain_groq
langchain_google_genai
llama-index

